<ion-header>
  <ion-toolbar>
    <ion-title>clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-grid class="ion-padding-top">
    <ion-row class="ion-text-center">
      <ion-col size="12">
        <ion-icon color="primary" class="icon-size" name="contact"></ion-icon>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input required [(ngModel)]="usuario.nombre"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input required [(ngModel)]="usuario.apellido"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input required [(ngModel)]="usuario.email"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input required [(ngModel)]="usuario.telefono"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Domicilio</ion-label>
          <ion-input required [(ngModel)]="usuario.domicilio"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Localidad</ion-label>
          <ion-input required [(ngModel)]="usuario.localidad"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
  
        <ion-button (click)="post()" expand="block" fill="outline">Confirmar</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>
